body {
  background-color: whitesmoke;
}

header {
  display: flex;
  height: 75px;
  background-color: rgba(43, 61, 223, 0.014);
  margin: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 5px 1px gray;
}

button {
  padding: 5px;
  border-radius: 5px;
  margin: 0 20px;
  background: rgba(255, 255, 255, 0.082);
  color: rgb(83, 5, 5);
}

button:hover {
  background: rgba(48, 219, 14, 0.589);
}

#mainContainer {
  margin: auto;
  display: flex;
  width: 950px;
  flex-direction: column;
  justify-content: center;
}

.formContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.formContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

input {
  margin-left: 10px;
  height: 20px;
}

#gridContainer {
  display: flex;
  width: 750px;
  height: 750px;
  flex-wrap: wrap;
  align-self: center;
  box-shadow: 0px 0px 5px 2px gray;
}

.square {
  background-color: white;
}

.border {
  border: 1px solid gray;
}
